# Налаштування VictoriaMetrics Stack
victoria-metrics-k8s-stack:
  # Налаштування бази даних
  vmsingle:
    spec:
      retentionPeriod: "1d" # Зберігаємо метрики 1 день для економії місця
      resources:
        limits:
          memory: "800Mi"
        requests:
          memory: "400Mi"

  # Агент, який збирає метрики
  vmagent:
    spec:
      extraArgs:
        "common.export.labels": "cluster=my-cluster"
      # Цей блок каже vmagent шукати логи у файлах контейнерів
      # Якщо версія чарту 0.45.0, vmagent сам може виступати збирачем
      resources:
        limits:
          memory: "400Mi"
        requests:
          memory: "200Mi"

  vlogs:
    enabled: true
    spec:
      retentionPeriod: "1d"
      resources:
        limits:
          memory: "512Mi"
        requests:
          memory: "256Mi"

  # Налаштування Grafana (вбудована в чарт VM)
  grafana:
    enabled: true
    adminPassword: "admin" # Встанови свій пароль
    persistence:
      enabled: false # Вимикаємо диски, щоб не було CrashLoop через права
    resources:
      limits:
        memory: "1Gi"   # Ставимо 1 ГБ (потім зменшимо, якщо треба)
        cpu: "1000m"    # Даємо ціле ядро для швидкого старту
      requests:
        memory: "256Mi"
        cpu: "200m"