apiVersion: apps/v1
kind: Deployment
metadata:
  name: db-deployment
spec:
  replicas: {{ .Values.db.replicaCount }}
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: db
          image: {{ .Values.db.image }}
          ports:
            - containerPort: 5432
          envFrom:
            - secretRef:
                name: postgres-secret 
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: db-volume
      volumes:
            - name: db-volume
              persistentVolumeClaim:
                claimName: db-pvc